@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TixFix is an up and coming web application that is designed to get the cheapest Cincinatti Reds tickets in to your hands
    as well as fill up the stadium for each home game.
    
    This is a family run organization and come from a long line of Reds fans.  It's been a tough road, but the Reds certainly
    have a rich history and we'd like to do our part to get back to that soon.
    
    So, come on down and support your Redlegs this year! We're due for a great season!</p>
