@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>


<address>
    One Pete Rose Way<br />
    Cincinatti, OH  50000<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Customer Service:</strong>   <a href="mailto:Service@redlegs.com">Service@redlegs.com</a><br />
    
</address>