@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To TixFix!</h1>
    <p class="lead">Tix Fix is a simple web app powered by ASP.NET Web MVC that allows customers to buy and sell tickets for Cincinnati Reds home games.</p>
    <p>@Html.ActionLink("Learn More", "About", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tickets</h2>
        <p>
            This is your best source for low price, Cincinnati Reds tickets!  Didn't think they could get any cheaper? Think again!  
            Check out our great selection, or post your own tickets to sell.
        </p>
        <p>@Html.ActionLink("Check Tickets", "Index", "Ticket", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>