@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/Index.css" rel="stylesheet" />

</head>

<div class="jumbotron">

    <img src="~/Content/NewFolder1/706.png" />
    <h1>Welcome To TixFix!</h1>
    <p class="lead">Your trusted source for posting tickets for Cincinnati Reds games.</p>
    <p>@Html.ActionLink("Learn More", "About", null, new { @class = "btn btn-primary btn-large red" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tickets</h2>
        <p>
            This is your best source for low price, Cincinnati Reds tickets!  Didn't think they could get any cheaper? Think again!
            Check out our great selection, or post your own tickets to sell.
        </p>
        <p>@Html.ActionLink("Check Tickets", "Index", "Ticket", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Opponents</h2>
        <p>Check upcoming games for a specific opponent.</p>
        <p>@Html.ActionLink("View Opponents", "Index", "Opponent", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4">
        <h2>Questions?</h2>
        <p>If you have any questions or concerns regarding a recent post, please reach out to us anytime.</p>
        <p>@Html.ActionLink("Contact Us", "Contact", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>
